body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #707197;
}

.home-container {
    text-align: center;
    padding: 50px;
}
.home-container h1 {
    color: #333;
}
.home-container p {
    color: #666;
    font-size: 18px;
}
.login-container, .signup-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #898ebe;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2, .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container form, .signup-container form {
    display: flex;
    flex-direction: column;
}
.login-container label, .signup-container label {
    margin-bottom: 5px;
    color: #333;
}
.login-container input, .signup-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-container button, .signup-container button {
    padding: 10px;
    background-color: #2f465f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover, .signup-container button:hover {
    background-color: #324c67;
}
